.Rproj.user
.Rhistory
.RData
.Rbuildignore
quipu.Rproj
docs
man
inst/paper
sample.1.png
sample.10.png
sample.2.png
sample.3.png
sample.4.png
sample.5.png
sample.6.png
sample.7.png
sample.8.png
sample.9.png
inst/doc
